@import "../App/variables.module.css";

.root {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    width: 430px;
    gap: 10px;
    margin-bottom: 15px;
}

.cart {
    font-size: 1.3rem;
    color: var(--secondary-blue);
    font-weight: bold;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}