@import "../App/variables.module.css";

.footer {
    color: var(--secondary-blue);
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 15px;
}
.light {
    background-color: var(--light-blue);
}
.dark {
    background-color: #273038;
    color: #64b5f6;
}